<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Add Recipe</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
	<div class="container my-5">
		<h3>Add Recipe</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-10">
					<form name="rec" action="#" th:action="@{/createRecipe}"
						th:object="${recipe}" method="post">
						<div class="row">
							<div class="form-group col-md-8">
								<label for="name" class="col-form-label">dish</label> <input
									type="text" th:field="*{dish}" class="form-control" id="dish"
									placeholder="dish" required />
							</div>
							<div class="form-group col-md-8">
								<label for="name" class="col-form-label">indicator (veg
									or non veg)</label> <input type="text" th:field="*{indicator}"
									class="form-control" id="indicator" placeholder="indicator"
									required />
							</div>
							<div class="form-group col-md-8">
								<label for="name" class="col-form-label">Serving
									Capacity</label> <input type="text" th:field="*{servingCap}"
									class="form-control" id="servingCap"
									placeholder="serving capacity" required />
							</div>
							<div class="form-group col-md-8">
								<label for="name" class="col-form-label">ingredients
									(Max 20 words)</label> <input type="text" th:field="*{ingredients}"
									class="form-control" id="ingredients" placeholder="ingredients"
									required />
							</div>
							<div class="form-group col-md-8">
								<label for="name" class="col-form-label">instructions
									(Max 100 words)</label> <input type="text" th:field="*{instructions}"
									class="form-control" id="instructions"
									placeholder="instructions" required />
							</div>
							<div class="col-md-6">
								<input type="submit" class="btn btn-primary" value=" Submit ">
							</div>

							<input type="hidden" id="id" th:field="*{id}">

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>